*{
    padding: 0;
    margin: 0;
}

body{
    padding: 0;
    margin: 0;
    font-family: jost;
    background-color: #352F44;
    color: white;
}

.ageCalulator{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 150px;

}

label{
    font-size: 18px;
    font-weight: 600;
}

.form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    gap: 18px;
    border: none;
    padding: 40px 40px;
    color: #352F44;
    border-radius: 10px;
    background-color: #b9b4c73b;
    filter: drop-shadow(0px 0px 50px #B9B4C7);
}

.DOB,
.currentDate{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 2px;
}

input{
    padding: 13px 12px;
    font-size: 14px;
    width: 300px;
    background-color: #352F44;
    color: white;
    border: none;
    border-radius: 25px;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    border: none;
    padding: 13px 131px;
    background-color: #352F44;
    color: #B9B4C7;
    cursor: pointer;
    transition: all .3s ease-in-out;
    font-weight: 700;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 30px;
    
}

button:hover{
    background-color:#B9B4C7;
    color: #352F44;
    border: 1px solid #352F44;
}

#result {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 600;
    padding: 8px 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #352F44;
    margin: auto;
    border: none;
}